# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
/nbproject/
App copy.js

cityscape-right-now-fdfd7045d08c.json
cityscape-d0efc-firebase-adminsdk-9fuye-03001e5e6a.json
eas.json
google-services.json
notes react.odt
notes react.docx
src/Component/Notification/ExpoPushNotification.js
src/Component/Notification/notificationPush.js
app.json
eas.json